
@{
    ViewBag.Title = "Staj Ekle";
}
@using System.Web.Security;
@using InternShip.MvcUI.Models;
@model InternShip
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Staj
                </div>
                <div class="block-controls">
                    <a href="/User/Index" class="block-control block-control-remove"></a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">

                    @if (Model == null)
                    {
                        <form id="internshipForm" role="form" action="/InternShip/InternshipAdd" method="post">
                            <div class="ui-widget form-group">
                                <label for="student_autocomplete">Öğrenci </label>
                                <input id="student_autocomplete" class="form-control" name="autocomplete" required>
                                <input type="hidden" id="student" class="form-control" name="StudentID" required>
                            </div>
                            <div class="ui-widget form-group">
                                <label for="company_autocomplete">Şirket </label>
                                <input id="company_autocomplete" class="form-control" name="autocomplete" required>
                                <input type="hidden" id="company" class="form-control" name="CompanyID" required>

                            </div>
                            <div class="ui-widget form-group">
                                <label for="adviser_select">Danışman </label>
                                <select id="adviser_select" class="form-control" name="AdviserID_select">
                                    <option>Lütfen Seçiniz</option>
                                    @if (ViewBag.Users == null)
                                    {
                                        <option>Danışman Kullanıcı Bulunamadı.</option>
                                    }
                                    else
                                    {
                                        foreach (MembershipUser item in ViewBag.Users)
                                        {
                                            <option value="@item.UserName">@item.Comment</option>
                                        }

                                    }
                                </select>
                                <input type="hidden" name="AdviserID" id="adviser" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Başlangıç Tarihi</label>
                                <div class="input-group" id="datetimepicker5">
                                    <span class="input-group-addon input-group-icon">
                                        <span class="glyphicon-calendar glyphicon"></span>
                                    </span>
                                    <input type="text" class="form-control" data-date-format="DD/MM/YYYY" autocomplete="off" id="startdate" name="StartDate" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Bitiş Tarihi</label>
                                <div class="input-group" id="datetimepicker6">
                                    <span class="input-group-addon input-group-icon">
                                        <span class="glyphicon-calendar glyphicon"></span>
                                    </span>
                                    <input type="text" class="form-control" data-date-format="DD/MM/YYYY" autocomplete="off" id="enddate" name="EndDate" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="time">Süre : </label>
                                <input type="number" class="form-control" id="time" placeholder="" name="Time" value="" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </form>
                    }
                    else
                    {
                        <form id="internshipForm" role="form" action="/InternShip/InternshipUpdate" method="post">
                            <div class="ui-widget form-group">
                                <input type="hidden" id="studentID" class="form-control" name="InternShipID" value="@Model.InternShipID" required>
                            </div>
                            <div class="ui-widget form-group">
                                <label for="student_autocomplete">Öğrenci </label>
                                <input id="student_autocomplete" class="form-control" name="autocomplete" required>
                                <input type="hidden" id="student" class="form-control" name="StudentID" value="@Model.StudentID" required>
                            </div>
                            <div class="ui-widget form-group">
                                <label for="company">Şirket </label>
                                <input id="company_autocomplete" class="form-control" name="autocomplete" required>
                                <input type="hidden" id="company" class="form-control" name="CompanyID" value="@Model.CompanyID" required>
                            </div>
                            <div class="ui-widget form-group">
                                <label for="adviser_select">Danışman </label>
                                <select id="adviser_select" class="form-control" name="AdviserID_select">
                                    @if (ViewBag.Users == null)
                                    {
                                        <option value="-1" disabled>Danışman Kullanıcı Bulunamadı.</option>
                                    }
                                    else
                                    {
                                        foreach (MembershipUser item in ViewBag.Users)
                                        {
                                            <option value="@item.UserName">@item.Comment</option>
                                        }

                                    }
                                </select>
                                <input type="hidden" name="AdviserID" id="adviser" value="@Model.AdviserID" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Başlangıç Tarihi</label>
                                <div class="input-group" id="datetimepicker5">
                                    <span class="input-group-addon input-group-icon">
                                        <span class="glyphicon-calendar glyphicon"></span>
                                    </span>
                                    <input type="text" class="form-control" data-date-format="DD/MM/YYYY" autocomplete="off" id="startdate" name="StartDate" value="@Model.StartDate" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Bitiş Tarihi</label>
                                <div class="input-group" id="datetimepicker6">
                                    <span class="input-group-addon input-group-icon">
                                        <span class="glyphicon-calendar glyphicon"></span>
                                    </span>
                                    <input type="text" class="form-control" data-date-format="DD/MM/YYYY" autocomplete="off" id="enddate" name="EndDate" value="@Model.EndDate" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="time">Süre : </label>
                                <input type="number" class="form-control" id="time" placeholder="" name="Time" value="@Model.Time" required />
                            </div>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </form>
                    }


                    @if (ViewBag.Message != null)
                    {
                        <span id="spnmessage" style="font-size:20px">@ViewBag.Message</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptSection{

    <script>
        setTimeout(function () {
            if ($("#student").val() != "") {
                debugger;
                $.ajax({
                    url: "/Student/AutoCompleteName",
                    dataType: "json",
                    data: {
                        search: $("#student").val()
                    },
                    success: function (data) {
                        debugger;
                        $("#student_autocomplete").val(data[0].value);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: student autocompleteName");
                    }
                });
            }
        }, 50);
        setTimeout(function () {
            if ($("#company").val() != "") {
                debugger;
                $.ajax({
                    url: "/Company/AutoCompleteName",
                    dataType: "json",
                    data: {
                        search: $("#company").val()
                    },
                    success: function (data) {
                        $("#company_autocomplete").val(data[0].value);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: company autocompleteName");
                    }
                });
            }
        }, 100);
        $("#company_autocomplete").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Company/AutoComplete",
                    dataType: "json",
                    data: {
                        search: $("#company_autocomplete").val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.value,
                                id: item.id
                            }
                        }))
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: company autocomplete");
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                console.log("Selected: " + ui.item.value + " aka " + ui.item.id);
                $("#company").val(ui.item.id);
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });
        $("#student_autocomplete").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Student/AutoComplete",
                    dataType: "json",
                    data: {
                        search: $("#student_autocomplete").val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.value,
                                id: item.id

                            }
                        }))
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: student autocomplete " + error);
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                console.log("Selected: " + ui.item.label + " aka " + ui.item.id);
                $("#student").val(ui.item.id);
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });

        $("#adviser_select").change(function () {
            $("#adviser").val($("#adviser_select").val());
        });
        if ($("#adviser").val() != "") {
            $("#adviser_select").val($("#adviser").val());
        }


    </script>
}   