
@{
    ViewBag.Title = "Öğrenciler";
}

@using InternShip.MvcUI.Models;
@using InternShip.MvcUI.App_Classes;

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Öğrenciler
                </div>
                <div class="block-controls">
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                    <a href="/Student/Student/-1" class="btn btn-success rounded" role="button">Yeni Ekle</a>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner" style="overflow-x: auto;">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed" id="datatable">
                            <thead>
                                <tr class="h4">
                                    <th>Öğrenci Numarası</th>
                                    <th>Adı</th>
                                    <th>Soyadı</th>
                                    <th>Mail</th>
                                    <th>Telefon</th>
                                    <th>Tamamlanan</th>
                                    <th>Mezun Durumu</th>
                                    <th>Güncelle/Sil</th>
                                    <th>Parola Sıfırla</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ if (ViewBag.Students != null)
                                    {
                                        foreach (StudentExtentedModel item in ViewBag.Students)
                                        {
                                            <tr>
                                                <td>@item.StudentNumber</td>
                                                <td>@item.Name</td>
                                                <td>@item.Surname</td>
                                                <td>@item.Mail</td>
                                                <td>@item.Phone</td>
                                                <td>@item.sumAcceptedTime</td>
                                                <td>
                                                    @{if (item.isGraduate == true)
                                                        {
                                                            <span class="label label-success">Mezun</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-warning">Devam Ediyor</span>
                                                        }

                                                    }
                                                </td>
                                                <td>
                                                    <a href="/Student/Student/@item.StudentID" class="btn btn-warning rounded ">Güncelle</a>
                                                    <a href="/Student/StudentDelete/@item.StudentID" class="btn btn-danger rounded">Sil</a>
                                                </td>
                                                <td>
                                                    <a href="/Student/PasswordReset/@item.StudentID" class="btn btn-info rounded ">Şifre Sıfırla</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>