
@{
    ViewBag.Title = "Öğrenci";
}
@using InternShip.MvcUI.Models;
@using System;
@model Student

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Öğrenci
                </div>
                <div class="block-controls">
                    <a href="/Student/Index" class="block-control block-control-remove"></a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>

            <div class="block-content-outer">
                <div class="block-content-inner">
                    @if (Model == null)
                    {
                        <form role="form" action="/Student/StudentAdd" method="post">
                            <div class="form-group">
                                <label for="studentnumber">Öğrenci Numarası : </label>
                                <input type="text" class="form-control" id="studentnumber" placeholder="" name="StudentNumber">
                            </div>
                            <div class="form-group">
                                <label for="name">Adı : </label>
                                <input type="text" class="form-control" id="Name" placeholder="" name="Name">
                            </div>
                            <div class="form-group">
                                <label for="surname">Soyadı : </label>
                                <input type="text" class="form-control" id="surname" placeholder="" name="Surname">
                            </div>
                            <div class="form-group">
                                <label for="mail">E-Mail</label>
                                <input type="email" class="form-control" id="mail" placeholder="" name="Mail">
                            </div>
                            <div class="form-group">
                                <label for="phone">Telefon</label>
                                <input type="text" class="form-control" id="phone" placeholder="555 555 5555" name="Phone">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Giriş Tarihi</label>
                                <div class="input-group" id="datetimepicker3">
                                    <span class="input-group-addon input-group-icon">
                                        <span class="glyphicon-calendar glyphicon"></span>
                                    </span>
                                    <input type="text" class="form-control" autocomplete="off" id="entrydate" name="EntryDate" readonly />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </form>
                    }
                    else
                    {
                        <form role="form" action="/Student/StudentUpdate" method="post">
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="studentid" placeholder="" name="StudentID" value="@Model.StudentID" readonly>
                            </div>
                            <div class="form-group">
                                <label for="studentnumber">Öğrenci Numarası : </label>
                                <input type="hidden" class="form-control" id="studentid" placeholder="" name="StudentID" value="@Model.StudentID">
                                <input type="text" class="form-control" id="studentnumber" placeholder="" name="StudentNumber" value="@Model.StudentNumber">
                            </div>
                            <div class="form-group">
                                <label for="name">Adı : </label>
                                <input type="text" class="form-control" id="name" placeholder="" name="Name" value="@Model.Name">
                            </div>
                            <div class="form-group">
                                <label for="surname">Soyadı : </label>
                                <input type="text" class="form-control" id="surname" placeholder="" name="Surname" value="@Model.Surname">
                            </div>
                            <div class="form-group">
                                <label for="mail">E-Mail</label>
                                <input type="email" class="form-control" id="mail" placeholder="" name="Mail" value="@Model.Mail">
                            </div>
                            <div class="form-group">
                                <label for="phone">Telefon</label>
                                <input type="text" class="form-control" id="phone" placeholder="555 555 5555" name="Phone" value="@Model.Phone">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Giriş Tarihi</label>
                                <div class="input-group" id="datetimepicker3">
                                    <span class="input-group-addon input-group-icon">
                                        <span class="glyphicon-calendar glyphicon"></span>
                                    </span>
                                    <input type="text" class="form-control" autocomplete="off" id="entrydate" name="EntryDate" value="@Model.EntryDate" readonly />
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </form>
                    }
                    @if (ViewBag.Message != null)
                    {
                        <span id="spnmessage" style="font-size:20px">@ViewBag.Message</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptSection{
    <script>
        document.getElementById('phone').addEventListener('blur', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{3})(\d{3})(\d{4})/);
            e.target.value = '(' + x[1] + ') ' + x[2] + '-' + x[3];
        });
    </script>
}
