
@{
    ViewBag.Title = "Şirketler Kara Listesi";
}

@using InternShip.MvcUI.Models;
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Şirketler Kara Listesi
                </div>
                <div class="block-controls">
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                    @*<a href="/Company/CompanyAdd" class="btn btn-success rounded" role="button">Yeni Ekle</a>*@
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner" style="overflow-x: auto;">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed" id="datatable">
                            <thead>
                                <tr>
                                    <th>Şiket Adı</th>
                                    <th>Adres</th>
                                    <th>Mail</th>
                                    <th>Telefon</th>
                                    <th>Açıklama</th>
                                    <th>Staj Sayısı</th>
                                    <th>Kara Liste</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ if (ViewBag.Companies != null)
                                    {
                                        foreach (Company item in ViewBag.Companies)
                                        {
                                            <tr>
                                                <td>@item.CompanyName</td>
                                                <td>@item.Address</td>
                                                <td>@item.Mail</td>
                                                <td>@item.Phone</td>
                                                <td>@item.Desc</td>
                                                <td>@item.InternShips.Count</td>
                                                <td>
                                                    @{if (item.IsBlackCompany == true)
                                                        {
                                                            <a href="/Company/RemoveBlackList/@item.CompanyID" class="btn btn-primary rounded ">Çıkar</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="/Company/AddBlackList/@item.CompanyID" class="btn btn-danger rounded ">Ekle</a>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    } }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

